.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: .3s all;
}
.popup__subtitle{
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.popup__link{
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #2F71E5;
}
.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: .3s all;
}
.popup__title {
  margin: 34px 0 0 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  align-self: self-start;

}
.popup__window {
  display: flex;
  justify-content: center;
  align-content: space-between;
  max-width: 430px;
  max-height: 458px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.popup__save-button {
  margin: 39px 0 16px;
  padding: 0;
  width: 358px;
  height: 50px;
  background: #2F71E5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  border:none;
}
.popup__save-button_inactive {
  color: #FFFFFF;
  background: #E5E5E5;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 100px;
  pointer-events: none;
  opacity: 0.2;

}

.popup__save-button:focus {
  outline: none;
}

.popup__save-button:hover {
  opacity: .8;
}

.popup__input {
  width: 358px;
  margin: 9px 0 0;
  border: 0;
  padding: 0 0 10px 0;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:focus {
  outline: none;
  border-bottom: 1px rgba(0, 0, 0, 0.7) solid;
}

.popup__input:invalid {
  border-bottom: 1px #FF0000 solid;
}

.popup__input-text{
  margin: 22px 0 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  align-self: flex-start;
  color: #2F71E5;
}
.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.popup__form_error {
  border-bottom-color: red;
}
.popup__container {
   width: 471px;
   display: flex;
   flex-direction: column;
 }
.popup__close-button {
  width: 40px;
  height: 40px;
  background-image: url("../../images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  align-self: flex-end;
}

.popup__close-button:focus {
  outline: none;
}

.popup__close-button:hover {
  opacity: .8;
}
@media screen and (max-width: 400px) {
  .popup__window-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .popup__window {
    width: 240px;
    height: 258px;
    max-height: 280px;
  }
  .popup__title {
    margin-top: 30px;
    margin-left: 20px;
    width: 185px;
    line-height: 22px;
    font-size: 18px;
    text-align: left;
  }
  .popup__save-button {
    width: 200px;
    height: 40px;
    margin: 20px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
  .popup__input {
    width: 200px;
    margin: 9px 0 0;
    padding: 0 0 12px 0;
    font-size: 12px;
    line-height: 15px;
  }
  .popup__input:last-of-type {
    margin: 20px 0 0;
  }
  .popup__container {
    width: 280px;
  }
  .popup__close-button {
    width: 30px;
    height: 30px;
  }
}


