.saved-header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 45px;
  margin: 0;
  max-width: 1440px;
  height: 80px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.1);
}
.saved-header__logo {
  max-width: 200px;
  margin-left: 104px;
}
.saved-header__navigation{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: space-between;

}

.saved-header__link {
  margin-right: 24px;
  font-family: Roboto, 'Arial', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #1A1B22;
}

.saved-header__link:hover {
  opacity: .8;
}
.saved-header__button{
  margin-right: 104px;
  width: 176px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Roboto, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  border: 1px solid #1A1B22;
  border-radius: 100px;
  background-color: #FFFFFF;
}

.saved-header__button:focus {
  outline: none;
}

.saved-header__button:hover {
  opacity: .8;
}
.saved-header__button-img{
  width: 17px;
  height: 16px;
  margin-left: 10px;
}
.saved-header__menu-button{
  visibility: hidden;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  border: none;
  border-radius: 8px;
  background-color: inherit;
  background-image: url("../../images/menu2.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.saved-header__menu-button:focus {
  outline: none;
}

.saved-header__menu-button:hover {
  opacity: .8;
}
@media screen and (max-width: 1000px) {
  .saved-header__logo {
    margin-left: 16px;
  }
  .saved-header {
    height: 60px;
  }
  .saved-header__link{
    font-size: 16px;
    line-height: 24px;
  }
  .saved-header__button{
    margin-right: 10px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
  }

}

@media screen and (max-width: 540px) {
  .saved-header__logo {
    width: 117px;
    height: 24px;
  }
  .saved-header__menu-button{
    visibility: visible;
  }
  .saved-header__button{
    display: none;
  }
  .saved-header__link{
    display: none;
  }
  .saved-header {
    padding: 0;
    max-width: 320px;
    margin: 28px auto 0;
    height: 56px;
  }
}