.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 1440px;
  background-image:url("../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.main__header{
  margin: 80px auto 0;
  text-align: left;
  font-family: RobotoSlab, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  /*color: #FFFFFF;*/
  color: #FF0000;
}
.main__text{
  margin: 32px auto 0;
  text-align: left;
  max-width: 545px;
  font-family: Roboto, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
  .main__header {
    font-size: 36px;
    line-height: 40px;
  }
  .main__text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 540px) {
  .main {
  max-width: 540px;
  }
  .main__text {
    max-width: 288px;
  }
  .main__header {
    max-width: 285px;
  }
}