.search{
  display: flex;
  align-self: center;
  border-radius: 100px;
}
.search__form {
  margin: 64px 0 80px;
  width:608px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 100px;

}
.search__input{
  width: 440px;
  margin-left: 24px;
  font-family: Roboto, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  border: none;
  border-radius: 100px;
}
.search__input:focus{
  outline: none;
}

.search__button{
  background: #2F71E5;
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  padding: 0;
  width: 168px;
  height: 64px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  border-radius: 100px;
}

.search__button:hover{
  background: #347EFF;

}

.search__button:focus{
  background: #2A65CC;
  outline: none;
}
@media screen and (max-width: 1000px) {

  .search__form {
    width:448px;
  }
  .search__button {
    width: 160px;
    height: 56px;
  }
  .search__input{
    max-width: 228px;
  }
}
@media screen and (max-width: 540px) {
  .search{
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 100px;
  }
  .search__form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width:250px;
    background-color: transparent;
    border-radius: 100px;
  }
  .search__button {
    margin-top: 16px;
    width: 228px;
    height: 56px;
  }
  .search__input{
    margin-left: 0;
    max-width: 228px;
    height: 56px;
  }
}