.menu{
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-0, -0);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: .3s all;

  background-color: #1A1B22;
  width: 100%;
}
.menu_opened{
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: .3s all;
}
.menu__content{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menu__header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  max-width: 540px;
  height: 80px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.1);
}

.menu__close-button {
  width: 24px;
  height: 24px;
  background-image: url("../../images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  margin: 16px 16px 0 0 ;
  border: none;
  padding: 0;
}

.menu__close-button:focus {
  outline: none;
}

.menu__close-button:hover {
  opacity: .8;
}
.menu__link{
  margin: 16px 0 0 16px;
  font-family: Roboto, 'Arial', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 56px;
  text-align: left;
  color: #FFFFFF;
}

.menu__button{
  align-self: center;
  margin-bottom: 24px;
  width: 288px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, 'Arial', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  background-color: transparent;
}
.menu__button:focus {
  outline: none;
}

.menu__button:hover {
  opacity: .8;

}