.news-card-list {
  max-width: 1440px;
  padding: 64px 0 62px 102px;
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 16px 16px;
}
.news-card__background{
  background-color: #F5F6F7;
}
@media screen and (max-width: 1000px) {
  .news-card-list {
    padding: 32px 0 0 40px;
    grid-template-columns:repeat(auto-fill, minmax(226px, 1fr));
  }
}

@media screen and (max-width: 540px) {
  .news-card-list {
    padding: 32px 0 10px 40px;
    display: flex;
    flex-direction: column;
    max-width: 400px;

  }
}